* { margin:0; padding:0; box-sizing:border-box;}
html,body{height:100%;}
body { min-height:100%;font-size:18pt; font-family: sans-serif,sans,Arial;}
#outer {
	min-height:100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#outer>div { padding: 2em 20%; word-spacing: nowrap}
#banner,#footer { background-color: #5690f5; color:white;}
#banner {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71a2f7+0,5c91ed+13,5690f5+65,5c91ed+100 */
background: #71a2f7; /* Old browsers */
background: -moz-linear-gradient(-45deg, #71a2f7 0%, #5c91ed 13%, #5690f5 65%, #5c91ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #71a2f7 0%,#5c91ed 13%,#5690f5 65%,#5c91ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #71a2f7 0%,#5c91ed 13%,#5690f5 65%,#5c91ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a2f7', endColorstr='#5c91ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#footer *, #banner * { color:white; }
#banner a { text-decoration:none;}
#banner { height:6em; }
div#footer { height:2em; 
		padding-top: 0.5em; 
		padding-bottom:0; 
		font-size:9pt;}
#footer img { vertical-align: middle;}

#contents { 
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
#message {
	background-color: #e0e0e0;
	border:1px solid rgba(0,0,0,0.1);
	padding: 0.8em;
	margin:0.2em 0;
	border-bottom-right-radius: 0.8em;
	border-top-right-radius: 0.8em;
	border-bottom-left-radius: 0.8em;
	white-space: pre-wrap;
}

form { position: relative; width: 100%; }
form>* { display: block; font-size: 0.8em; }
textarea { width: 80%; height:6em; display: block; padding:0.2em;font-family: sans-serif;}
label:not(:first-of-type) { margin-top: 1em; }
input[type='text'], input[type='email'], input[type='password'] { padding: 0 0.2em; width:80%; }
button { padding: 0.2em 0.3em; font-size: 1em; margin:0.5em 0;}
button.small { display: inline; margin-top: 0;}

.small { font-size: 0.6em; }
.italics { font-style:italic; }

/*
label[for='email'] { margin-top: 1em; }
input[type='email'] { padding: 0 0.2em; width:80%;}

label[for='password'] { margin-top: 1em; font-size:0.6em;}
input[type='password'] { padding: 0 0.3em; font-size:0.6em; width:80%;}
input[type='submit'],button { padding: 0.3em; font-size: 1em; margin-top:1em;}
*/



@media only screen and (max-width: 760px) {
	body { font-size: 15pt; }
	#outer>div { padding-left:12%; padding-right:12% };
}

@media only screen and (max-width: 550px) {
	body { font-size: 13pt; }
	#outer>div { padding-left:4%; padding-right:4% };
}
